doctype
head
  title Экзотика
  meta(charset='utf-8')
  link(rel='stylesheet' href='css/reset.css')
  link(rel='stylesheet' href='css/site.css')

body
  .container
    h1 Экзотика

    each p in programs
      div.program(class= p.audio_id ? "" : "without-audio")
        //- div= p._id
        //- div= p.audio && p.audio.length()
        div.date= m(p.date).format("DD.MM.Y")
        div= p.text
        div.record
          if p.audio_id
            a(href='/file/'+p.audio_id, target="_blank") Послушать
          else
            div.no_file Нет записи
