doctype
html(ng-app="exotica")
  head
    title Экзотика
    meta(charset='utf-8')
    //- link(rel='stylesheet' href='css/reset.css')
    link(rel='stylesheet' href='css/site.css')

  body(ng-controller='exoticaController')
    .container
      h1 Экзотика

      div(ng-repeat='p in programs track by $index')
        div.program(class= '{{p.audio_id ? "" : "without-audio"}}')
          div.date {{p.date}}
          div {{p.text}}
          div.audio_id
            a(href='/file/{{p.audio_id}}', target="_blank", ng-if='p.audio_id') Послушать
            div.no_file(ng-if='!p.audio_id') Нет записи
    script(src="/lib/angular.js")
    script(src="/js/app.js")
