body {
  background: #7f4651;
  color: white; }

.program {
  background: #8E5E63;
  margin: 20px auto;
  padding: 10px;
  width: 50%;
  border-radius: 7px;
  /* offset-x | offset-y | blur-radius | color */
  box-shadow: 2px 2px 5px #5f353d; }
  .program .date {
    margin: 5px 0; }
  .program .record {
    margin: 5px 0; }
